extends ../layouts/application.pug

block content
  h1= t('users.list.title')
  
  table.table.table-striped
    thead
      tr
        th= t('users.id')
        th= t('users.firstName')
        th= t('users.lastName')
        th= t('users.email')
        th= t('users.createdAt')
    tbody
      each user in users
        tr
          td= user.id
          td= user.firstName
          td= user.lastName
          td= user.email
          td= formatDate(user.createdAt) 